* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    height: 100%;
}

.header {
    min-width: 1280px;
    width: 100%;
    height: 90px;
    background-color: #212343;
}

.center {
    width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.header img {
    margin: 30px;
}

.container-banner {
    min-width: 1280px;
    width: 100%;
    height: 557px;
    background-image:url('/images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center {
    height: 100%;
}

.form {
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border: 4px solid rgb(102, 100, 100);
    background-color: rgb(255, 255, 255);
}

.form h2 {
    margin-top: 10px;
    font-weight: normal;
    color: #999;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.input-container {
    margin-top: 20px;
    text-align: center;
}

.input-container span, .form p {
    display:inline-block;
    width: 100%;
    color: #BBB;
    font-size: 17px;
    text-align: center;
}

.form p {
    margin: 20px 0;
}

.input-container input[type=text] {
    margin-top: 6px;
    width: 344px;
    height: 55px;
    border: 1px solid #CCC;
    
}

.form .input-submit-container {
    text-align: center;
}


.form input[type=submit] {
    border: 0;
    color: white;
    font-size: 20px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #212343;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #4a4097;
    cursor: pointer;
}

.form input[type=submit]:hover {
    background-color: #323665;
}

.container-list {
    padding: 50px;
    margin-top: 40px;
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul {    
    list-style-position: inside;
}

.container-list ul li {
    margin-top: 15px;
    color: white;
}

.container-2 {
    min-width: 1280px;
    padding: 40px 0px;
    background-color: rgb(196, 196, 196);
    text-align: center;
}

.container-2 h2 {
    font-weight: normal;
}

.container-2 p {
    width: 698px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;    
}

.arrow {
    position: relative;
    left: 50%;
    margin-left: -20px;
    top: 60px;
    width: 40px;
    height: 40px;
    background-image: url(/images/arrow.png);
    background-size: 100% 100%;
}

.section-1 {
    padding: 60px 0;
}

.section-1 h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section {
    margin-top: 40px;
}

.container-section {
    text-align: center;
}

.container-sigle {
    float: left;
    width: 33.333%;
    padding:30px
}

.container-sigle P {
    padding: 10PX 25px;
}

.container-sigle img {
    width: 70px;
}

.text-container-sigle:hover p {
    text-decoration: underline;
}

.footer {
    clear: both;
    border-top: 4px solid #462663;
    padding: 30px 0;
    text-align: center;
    color: #888;
     
}

.footer h2, p {
    margin-top: 8px;    
}